# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
DDCMonitorManager/bin/Debug/DDCMonitorManager.exe
*.config
DDCMonitorManager/bin/Debug/DDCMonitorManager.pdb
*.manifest
DDCMonitorManager/obj/Debug/DDCMonitorManager.csproj.FileListAbsolute.txt
*.Cache
DDCMonitorManager/obj/Debug/DDCMonitorManager.exe
*.resources
DDCMonitorManager/obj/Debug/DDCMonitorManager.pdb
DDCMonitorManager/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DDCMonitorManager/bin/Debug/DDCMonitorManager.vshost.exe
DDCMonitorManager/obj/Debug/App.g.cs
DDCMonitorManager/obj/Debug/App.g.i.cs
DDCMonitorManager/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DDCMonitorManager/obj/Debug/MainWindow.g.cs
DDCMonitorManager/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DDCMonitorManager/obj/Debug/MainWindow.g.i.cs
DDCMonitorManager/obj/Debug/MainWindow.baml
DDCMonitorManager/bin/Release/DDCMonitorManager.exe
DDCMonitorManager/obj/Release/App.g.cs
DDCMonitorManager/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
