# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
DDCMonitorManager/bin/Debug/DDCMonitorManager.exe
*.config
DDCMonitorManager/bin/Debug/DDCMonitorManager.pdb
*.manifest
DDCMonitorManager/obj/Debug/DDCMonitorManager.csproj.FileListAbsolute.txt
*.Cache
DDCMonitorManager/obj/Debug/DDCMonitorManager.exe
*.resources
DDCMonitorManager/obj/Debug/DDCMonitorManager.pdb
DDCMonitorManager/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DDCMonitorManager/bin/Debug/DDCMonitorManager.vshost.exe
